.about {

    background-color: #F9F5FE;
    display: flex;
    flex-direction: column;
}


.aboutWrapper {
    display: flex;
    flex-direction: row;
    /* float: left; */
    margin-top: 10%;
    width: 100%;
}

.leftAbout {

    display: flex;
    width: 50%;
    padding-bottom: 12rem;
}

.rightAbout {
    display: flex;
    width: 121%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 3rem;
    padding-left: 3rem;
}

.abouthead {
    display: flex;
    flex-flow: column wrap;
    padding-top: 8rem;
    padding-right: 53rem;
    font-size: 5rem;
    font-weight: 800;
}

.vert-head {

    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 2;
    font-weight: bolder;
}
.horz{
 display: flex;
 flex-direction: column;

}

.horz1 {
    font-size: 1.7rem;
    width: 50%;
}

.horz2{

font-size: 2rem;

}