.about{

    background-color: #F9F5FE ;
    display: flex;
    flex-direction: column;
}


.aboutWrapper {
    display: flex;
    flex-direction: row;
    /* float: left; */
    margin-top: 10%;
    width: 100%;
}

.leftAbout{

    display: flex;
   width: 50%;
}
.rightAbout{

    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
}

.abouthead {
    display: flex;
    flex-flow: column wrap;
    padding-top: 8rem;
    padding-right: 53rem;
    font-size: 5rem;
    font-weight: 800;
}

.vert-head{

    writing-mode: vertical-rl;
   text-orientation: mixed;
   font-size: 2;
   font-weight: bolder;
}